body {
  margin: 0;
  padding: 0;
  background: rgb(41, 41, 41);
}

.images {
  overflow: hidden;
  text-align: center;
}

.images img {
  width: 300px;
  height: 200px;
  margin: .5rem;
  cursor: pointer;
  transition: .4s;
}

.images img:hover {
  opacity: .8;
}

.preview {
  width: 900px;
  height: 520px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.preview img {
  width: 100%;
  height: 100%;
}

.preview a {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

